[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fundiversity"]
	path = fundiversity
	url = https://github.com/funecology/fundiversity
